@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.welcomeCard {
    margin-top: 15px;
    margin-left: 225px;    
}
h3 {
    font-family: 'Courgette', cursive;
}
p {
    font-family: 'Roboto', sans-serif;
}